*{
    margin: 0px;
}
#bigbox{
    background-color: aqua;
    width: 100%;
    height: 1000px;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border-color: blue;
    border-style: solid;
    border: 2px;
}